<%= Layouts::Default.new(page: self, favicon: "âœ", description: "Charles B Johnson's blog") do |c| %>
  <%= c.main do %>
    <style><%= templates["blog.css.erb"].render(self) %></style>

    <h1>Posts</h1>
    <ul>
      <% posts.each do |post| %>
        <li>
          <a href="<%= post.uri %>"><%= post.title %></a>
          <time datetime="<%= post.date %>"><%= post.date %></time>
          <p><%= post.preview %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end.render %>
