<%= Layouts::Default.new(page: self, description: "Charles B Johnson's internet presence") do |c| %>
  <%= c.styles do %>
    <style><%= templates["index.css.erb"].render(self) %></style>
  <% end %>

  <%= c.main do %>
    <h1>Hi.</h1>
    <h2>I'm Charles B Johnson.</h2>
    <p>... But you can call me Charlie. Just don't call me Chuck.</p>

    <p>I work as a software engineer and I often tinker on computers in my spare time.</p>

    <p>
      I don't have much of a presence on the internet beyond this site,
      but some of my work is on GitHub at <a href="<%= ::Site.github_url %>"><%= ::Site.github_url.path.gsub("/", "@") %></a>.

      I typically write code in Ruby and I prefer to use command line tools over graphical tools.
    </p>

    <p>I appreciate technology that is:</p>

    <ul>
      <li><em>Minimal</em></li>
      <li><em>Simple</em></li>
      <li><em>Boring</em></li>
    </ul>

    <p>
      And I admire technologies that <em><a href="https://www.youtube.com/watch?v=zKyv-IGvgGE&t=1037s">compress concepts</a></em> or <em>automate tasks</em>.
    </p>

    <p>
      When I'm not at a computer I enjoy being outdoors with my dog, playing strategy board games, and eating at long-standing restaurants.
    </p>

    <p>
      The best way to contact me is through email at <a href="mailto:<%= ::Site.email %>"><%= ::Site.email %></a>.
    </p>
  <% end %>
<% end.render %>
