<div data-screen>
I'm seeking opportunities as a full-stack or backend engineer.
My requirements for a new role (using terminology from [Key Values](https://www.keyvalues.com)) are:

- Open Communication
- Remote OK
- Flexible Work Arrangements
- Work/Life Balance

Are you a manager considering hiring me? [Here's a post](<%= Blog::NewManagerReadme.uri %>) to help you learn more about me.

Are you an engineer considering working with me? I [have a post](<%= Blog::NewTeammateReadme.uri %>) for you
and a [GitHub profile](<%= ::Site.github_url %>) that you can take a look at.

Please [email me](mailto:<%= ::Site.email %>) for more information.
</div>

<div data-print>
Hi, I'm Charlie. I'm a software engineer with nearly 10 years of experience.

I often build full-stack web applications in the e-commerce space, but I just care about making _good software_ and _making software_ good.

Please [visit my website](<%= ::Site.uri + Work.uri %>) to learn more about my work history and consider [sending me an email](mailto:<%= ::Site.email %>).
</div>
