<%= Layouts::Default.new(page: self, favicon: "ðŸ’¼", description: "Charles B Johnson's work history") do |c| %>
  <%= c.styles do %>
    <style><%= templates["work.css.erb"].render(self) %></style>
  <% end %>

  <%= c.main do %>
    <section data-hidden-for="print">
      <h1><%= title %></h1>
      <%= content("introduction", "[data-screen]") %>

      <!--
         â–ˆâ–ˆ   â–ˆâ–ˆ â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ â–ˆâ–ˆ    â–ˆâ–ˆ â–ˆâ–ˆ
         â–ˆâ–ˆ   â–ˆâ–ˆ â–ˆâ–ˆ       â–ˆâ–ˆ  â–ˆâ–ˆ  â–ˆâ–ˆ
         â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     â–ˆâ–ˆâ–ˆâ–ˆ   â–ˆâ–ˆ
         â–ˆâ–ˆ   â–ˆâ–ˆ â–ˆâ–ˆ         â–ˆâ–ˆ
         â–ˆâ–ˆ   â–ˆâ–ˆ â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    â–ˆâ–ˆ    â–ˆâ–ˆ

        If you're reading this and you've decided to contact me then make sure to include a ðŸ”¬ in your message so that I know to prioritize your inquiry!
      -->
    </section>

    <section data-hidden-for="screen">
      <h1>Charles B Johnson</h1>
      <strong>Engineer of Soft Wares</strong>

      <address>
        <a href="mailto:<%= ::Site.email %>" rel="nofollow" data-emoji="ðŸ“­"><%= ::Site.email %></a>
        <span data-emoji="ðŸ—º">Austin, TX</span>
        <a href="tel:<%= ::Site.phone.tr("() ", "") %>" rel="nofollow" data-emoji="â˜Ž"><%= ::Site.phone %></a>
        <a href="<%= ::Site.uri %>" data-emoji="ðŸŒ"><%= ::Site.domain %></a>
        <a href="<%= ::Site.github_url %>" data-emoji="ðŸ’»"><%= ::Site.github_url.to_s.gsub("#{::Site.github_url.scheme}://", "") %></a>
      </address>

      <%= content("introduction", "[data-print]") %>
    </section>

    <hr data-hidden-for="print" />

    <section>
      <h2>Experience</h2>

      <article id="experience-firesqueak">
        <h3><a href="#experience-firesqueak">Firesqueak</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Senior Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2017/2021">2017 - 2021</time>
          <address data-emoji="ðŸ—º">Remote</address>
        </header>

        <div data-hidden-for="print"><%= content("firesqueak", "[data-screen]") %></div>

        <article id="experience-firesqueak-1" data-hidden-for="print">
          <h4><a href="#experience-firesqueak-1">E-Commerce Product</a></h4>

          <details open>
            <summary>TL;DR</summary>
            <%= content("firesqueak_1", "[data-tldr]") %>
          </details>

          <details>
            <summary>Description</summary>
            <div><%= content("firesqueak_1", "[data-screen]") %></div>
          </details>

          <details open>
            <summary>Tech</summary>
            <dl>
              <div>
                <dt>Frontend (Front)</dt>
                <dd>HTML</dd>
                <dd>CSS</dd>
                <dd>JavaScript</dd>
                <dd>React</dd>
              </div>

              <div>
                <dt>Frontend (Back)</dt>
                <dd>JavaScript</dd>
                <dd>Node</dd>
                <dd>Next</dd>
                <dd>Fastify</dd>
              </div>

              <div>
                <dt>Backend</dt>
                <dd>Ruby</dd>
                <dd>Rails</dd>
                <dd>Sidekiq</dd>
              </div>

              <div>
                <dt>Data</dt>
                <dd>PostgreSQL</dd>
                <dd>Redis</dd>
              </div>

              <div>
                <dt>Platform</dt>
                <dd>Shopify</dd>
                <dd>Heroku</dd>
              </div>
            </dl>
          </details>
        </article>

        <article id="experience-firesqueak-2" data-hidden-for="print">
          <h4><a href="#experience-firesqueak-2">Client Project - Footwear Brand</a></h4>

          <details open>
            <summary>TL;DR</summary>
            <%= content("firesqueak_2", "[data-tldr]") %>
          </details>

          <details>
            <summary>Description</summary>
            <div><%= content("firesqueak_2", "[data-screen]") %></div>
          </details>

          <details open>
            <summary>Tech</summary>
            <dl>
              <div>
                <dt>Frontend (Front)</dt>
                <dd>HTML</dd>
                <dd>SCSS</dd>
                <dd>JavaScript</dd>
                <dd>Stimulus</dd>
                <dd>MobX</dd>
              </div>

              <div>
                <dt>Frontend (Back)</dt>
                <dd>JavaScript</dd>
                <dd>Node</dd>
                <dd>Rollup</dd>
              </div>

              <div>
                <dt>Platform</dt>
                <dd>Shopify</dd>
                <dd>AWS</dd>
              </div>
            </dl>
          </details>
        </article>

        <article id="experience-firesqueak-3" data-hidden-for="print">
          <h4><a href="#experience-firesqueak-3">Client Project - Footwear Brand</a></h4>

          <details open>
            <summary>TL;DR</summary>
            <%= content("firesqueak_3", "[data-tldr]") %>
          </details>

          <details>
            <summary>Description</summary>
            <div><%= content("firesqueak_3", "[data-screen]") %></div>
          </details>

          <details open>
            <summary>Tech</summary>
            <dl>
              <div>
                <dt>Backend</dt>
                <dd>JavaScript</dd>
                <dd>Node</dd>
              </div>

              <div>
                <dt>Platform</dt>
                <dd>Shopify</dd>
                <dd>AWS</dd>
              </div>
            </dl>
          </details>
        </article>

        <div data-hidden-for="screen">
          <%= content("firesqueak", "[data-print]") %>
        </div>
      </article>

      <article id="experience-blue-apron">
        <h3><a href="#experience-blue-apron">Blue Apron</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Senior Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2018/2019">2018 - 2019</time>
          <address data-emoji="ðŸ—º">
            <span>Austin</span>
            <span>TX</span>
          </address>
        </header>

        <details open data-hidden-for="print">
          <summary>TL;DR</summary>
          <%= content("blue_apron", "[data-tldr]") %>
        </details>

        <details data-hidden-for="print">
          <summary>Description</summary>
          <div><%= content("blue_apron", "[data-screen]") %></div>
        </details>

        <details open data-hidden-for="print">
          <summary>Tech</summary>
          <dl>
            <div>
              <dt>Frontend</dt>
              <dd>HTML</dd>
              <dd>CSS</dd>
              <dd>JavaScript</dd>
              <dd>React</dd>
              <dd>Redux</dd>
              <dd>Backbone</dd>
            </div>

            <div>
              <dt>Frontend (Back)</dt>
              <dd>JavaScript</dd>
              <dd>Node</dd>
              <dd>Webpack</dd>
            </div>

            <div>
              <dt>Backend</dt>
              <dd>Ruby</dd>
              <dd>Rails</dd>
              <dd>Sidekiq</dd>
            </div>

            <div>
              <dt>Data</dt>
              <dd>PostgreSQL</dd>
              <dd>Redis</dd>
              <dd>Kafka</dd>
              <dd>BigQuery</dd>
              <dd>Elasticsearch</dd>
            </div>

            <div>
              <dt>Platform</dt>
              <dd>Docker</dd>
              <dd>Kubernetes</dd>
              <dd>GCP</dd>
            </div>
          </dl>
        </details>

        <div data-hidden-for="screen">
          <%= content("blue_apron", "[data-print]") %>
        </div>
      </article>

      <article id="experience-lob">
        <h3><a href="#experience-lob">Lob</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Senior Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2016/2017">2016 - 2017</time>
          <address data-emoji="ðŸ—º">
            <span>San Francisco</span>
            <span>CA</span>
          </address>
        </header>

        <details open data-hidden-for="print">
          <summary>TL;DR</summary>
          <%= content("lob", "[data-tldr]") %>
        </details>

        <details data-hidden-for="print">
          <summary>Description</summary>
          <div><%= content("lob", "[data-screen]") %></div>
        </details>

        <details open data-hidden-for="print">
          <summary>Tech</summary>
          <dl>
            <div>
              <dt>Backend</dt>
              <dd>JavaScript</dd>
              <dd>Node</dd>
              <dd>Hapi</dd>
              <dd>Go</dd>
            </div>

            <div>
              <dt>Data</dt>
              <dd>PostgreSQL</dd>
              <dd>Redis</dd>
              <dd>Elasticsearch</dd>
            </div>

            <div>
              <dt>Platform</dt>
              <dd>Docker</dd>
              <dd>Terraform</dd>
              <dd>AWS</dd>
            </div>
          </dl>
        </details>

        <div data-hidden-for="screen">
          <%= content("lob", "[data-print]") %>
        </div>
      </article>

      <article id="experience-walmartlabs">
        <h3><a href="#experience-walmartlabs">@WalmartLabs</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2014/2016">2014 - 2016</time>
          <address data-emoji="ðŸ—º">
            <span>Sunnyvale</span>
            <span>CA</span>
          </address>
        </header>

        <details open data-hidden-for="print">
          <summary>TL;DR</summary>
          <%= content("walmart_labs", "[data-tldr]") %>
        </details>

        <details data-hidden-for="print">
          <summary>Description</summary>
          <div><%= content("walmart_labs", "[data-screen]") %></div>
        </details>

        <details open data-hidden-for="print">
          <summary>Tech</summary>
          <dl>
            <div>
              <dt>Frontend</dt>
              <dd>HTML</dd>
              <dd>CSS</dd>
              <dd>JavaScript</dd>
              <dd>Angular</dd>
              <dd>Backbone</dd>
            </div>

            <div>
              <dt>Backend</dt>
              <dd>JavaScript</dd>
              <dd>Node</dd>
              <dd>Hapi</dd>
              <dd>Express</dd>
            </div>

            <div>
              <dt>Data</dt>
              <dd>MongoDB</dd>
              <dd>Redis</dd>
              <dd>Memcached</dd>
              <dd>Cassandra</dd>
              <dd>MySQL</dd>
            </div>
          </dl>
        </details>

        <div data-hidden-for="screen">
          <%= content("walmart_labs", "[data-print]") %>
        </div>
      </article>

      <article id="experience-sendicate">
        <h3><a href="#experience-sendicate">Sendicate</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2014">2014</time>
          <address data-emoji="ðŸ—º">
            <span>New York</span>
            <span>NY</span>
          </address>
        </header>

        <details open data-hidden-for="print">
          <summary>TL;DR</summary>
          <%= content("sendicate", "[data-tldr]") %>
        </details>

        <details data-hidden-for="print">
          <summary>Description</summary>
          <div><%= content("sendicate", "[data-screen]") %></div>
        </details>

        <details open data-hidden-for="print">
          <summary>Tech</summary>
          <dl>
            <div>
              <dt>Frontend</dt>
              <dd>HTML</dd>
              <dd>CSS</dd>
              <dd>JavaScript</dd>
              <dd>Backbone</dd>
              <dd>Vue</dd>
            </div>

            <div>
              <dt>Backend</dt>
              <dd>Ruby</dd>
              <dd>Rails</dd>
              <dd>Sidekiq</dd>
            </div>

            <div>
              <dt>Data</dt>
              <dd>PostgreSQL</dd>
              <dd>Redis</dd>
              <dd>InfluxDB</dd>
            </div>

            <div>
              <dt>Platform</dt>
              <dd>Shopify</dd>
              <dd>Heroku</dd>
              <dd>AWS</dd>
            </div>
          </dl>
        </details>

        <div data-hidden-for="screen">
          <%= content("sendicate", "[data-print]") %>
        </div>
      </article>

      <article id="experience-compuweigh">
        <h3><a href="#experience-compuweigh">CompuWeigh</a></h3>

        <header>
          <span data-emoji="ðŸ’¼">Junior Software Engineer</span>
          <time data-emoji="ðŸ“…" datetime="2012/2013">2012 - 2013</time>
          <address data-emoji="ðŸ—º">
            <span>Woodbury</span>
            <span>CT</span>
          </address>
        </header>

        <details open data-hidden-for="print">
          <summary>TL;DR</summary>
          <%= content("compuweigh", "[data-tldr]") %>
        </details>

        <details data-hidden-for="print">
          <summary>Description</summary>
          <div><%= content("compuweigh", "[data-screen]") %></div>
        </details>

        <details open data-hidden-for="print">
          <summary>Tech</summary>
          <dl>
            <div>
              <dt>Frontend</dt>
              <dd>Silverlight</dd>
            </div>

            <div>
              <dt>Backend</dt>
              <dd>C#</dd>
              <dd>VB.NET</dd>
              <dd>.NET 4</dd>
            </div>

            <div>
              <dt>Data</dt>
              <dd>SQL Server</dd>
            </div>
          </dl>
        </details>

        <div data-hidden-for="screen">
          <%= content("compuweigh", "[data-print]") %>
        </div>
      </article>
    </section>

    <section data-hidden-for="screen">
      <h2>Skills</h2>

      <div>
        <dl>
          <dt>Programming</dt>
          <dd>Ruby</dd>
          <dd>JavaScript</dd>
          <dd>Bash</dd>
          <dd>Lua</dd>
        </dl>

        <dl>
          <dt>Frontend (front)</dt>
          <dd>HTML</dd>
          <dd>CSS, SCSS</dd>
          <dd>Stimulus</dd>
          <dd>React</dd>
        </dl>

        <dl>
          <dt>Frontend (back)</dt>
          <dd>Rollup</dd>
          <dd>Webpack</dd>
          <dd>Next</dd>
        </dl>

        <dl>
          <dt>Backend</dt>
          <dd>Rails</dd>
          <dd>Node</dd>
          <dd>Express</dd>
          <dd>Fastify</dd>
        </dl>

        <dl>
          <dt>Data</dt>
          <dd>SQL</dd>
          <dd>PostgreSQL</dd>
          <dd>MySQL</dd>
          <dd>Redis</dd>
        </dl>

        <dl>
          <dt>Platform</dt>
          <dd>AWS</dd>
          <dd>Docker</dd>
          <dd>Terraform</dd>
          <dd>GNU/Linux, UNIX</dd>
        </dl>

        <dl>
          <dt>Other</dt>
          <dd>OOP</dd>
          <dd>REST</dd>
          <dd>GraphQL</dd>
          <dd>Git, GitHub</dd>
        </dl>
      </div>
    </section>

    <section>
      <h2>Education</h2>

      <article id="education-bachelors">
        <h3><a href="#education-bachelors">Computer Science, B.S.</a></h3>

        <header>
          <span data-emoji="ðŸŽ“">Fairfield University</span>
          <time data-emoji="ðŸ“…" datetime="2008/2012">2008 - 2012</time>
          <address data-emoji="ðŸ—º">
            <span>Fairfield</span>
            <span>CT</span>
          </address>
        </header>
      </article>
    </section>
  <% end %>

  <%= c.scripts do %>
    <script type="module"><%= templates["work.js.erb"].render(self) %></script>
  <% end %>
<% end.render %>
